:root {
  --perspective: 800px;
  --container-width: 640px;
  --container-height: 480px;
  --cube-size: 64px;
  --origin-x: calc((var(--container-width) - var(--cube-size)) / 2);
  --origin-y: calc((var(--container-height) - var(--cube-size)) / 2);
  --origin-z: calc(var(--cube-size) * -1);
}

.container {
  width: var(--container-width);
  height: var(--container-height);
  border: 10px solid darkgray;
  margin: 6px;
  perspective: var(--perspective);
  perspective-origin: center;
}

.inputs {
  display: flex;
  justify-content: start;
}

.cube {
  position: relative;
  backface-visibility: hidden;
  transform: translate3d(var(--origin-x), var(--origin-y), var(--origin-z));
  transform-origin: calc(var(--cube-size) * 0.5) calc(var(--cube-size) * 0.5) 0;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.face {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  line-height: var(--cube-size);
  opacity: 0.5;
  transform-origin: center;
}

.face.front {
  background: linear-gradient(45deg, white, blue);
  transform: rotateY(0deg) translateZ(calc(var(--cube-size) / 2));
}

.face.back {
  background: linear-gradient(45deg, white, red);
  transform: rotateY(180deg) translateZ(calc(var(--cube-size) / 2));
}

.face.right {
  background: linear-gradient(45deg, white, green);
  transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
}

.face.left {
  background: linear-gradient(45deg, white, yellow);
  transform: rotateY(270deg) translateZ(calc(var(--cube-size) / 2));
}

.face.top {
  background: linear-gradient(45deg, white, orange);
  transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
}

.face.bottom {
  background: linear-gradient(45deg, white, purple);
  transform: rotateX(270deg) translateZ(calc(var(--cube-size) / 2));
}