:root {
  --world-container-width: 640px;
  --world-container-height: 480px;
  --world-origin-x: calc(var(--world-container-width) * 0.5);
  --world-origin-y: var(--world-container-height);
  --world-origin-z: calc(var(--world-container-height) * -1);
}

@keyframes node-selected {
  from {
    border: 1px solid darkgoldenrod;
  }

  to {
    border: 6px solid orange;
  }
}

@keyframes node-hover {
  from {
    border: 1px solid darkgreen;
  }

  to {
    border: 6px solid greenyellow;
  }
}

.tab[data-tab="world"] > .container {
  width: var(--world-container-width);
  height: var(--world-container-height);
  overflow: hidden;
}

.tab[data-tab="world"] > .tablist {
  width: var(--world-container-width);
  margin: 0 6px;
}

#world-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

#world-debug {
  position: absolute;
  z-index: 99999;
  user-select: none;
}

#world-edit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 100%;
  padding-left: 6px;
  border-left: 3px solid darkgray;
  background-color: white;
}

#world-edit span {
  display: block;
}

#world-edit > #world-edit-parameters {
  overflow-y: scroll;
}

#world {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

#world .world-node {
  position: absolute;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  transform-origin: center center;
  transform-style: preserve-3d;
}

#world .world-node[data-node-type="face"] {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  line-height: 100px;
  transform: translate3d(-50px, -50px, 0) rotateX(90deg);
  background: radial-gradient(darkgray, lightgray);
}

#world[data-editing] .world-node[data-selected]:not([data-node-type="group"]) {
  animation: node-selected 0.4s linear infinite alternate;
}

#world[data-editing] .world-node:hover[data-node-type="face"]:not([data-selected]),
 #world[data-editing] .world-node:hover[data-node-type="sprite"]:not([data-selected]) {
  animation: node-hover 0.4s linear infinite alternate;
}

#world-nodemap {
  margin-top: 6px;
}

#world-nodemap .world-node {
  border: 1px solid darkgray;
  padding: 6px;
}