:root {
  --world-container-width: 640px;
  --world-container-height: 480px;
  --world-origin-x: calc(var(--world-container-width) * 0.5);
  --world-origin-y: var(--world-container-height);
  --world-origin-z: calc(var(--world-container-height) * -1);
}

@keyframes node-selection {
  from {
    filter: none;
  }

  to {
    filter: invert() brightness(1.5);
  }
}

.tab[data-tab="world"] > .container {
  width: var(--world-container-width);
  height: var(--world-container-height);
  overflow: hidden;
}

.tab[data-tab="world"] > .tablist {
  width: var(--world-container-width);
  margin: 0 6px;
}

#world-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

#world-debug {
  position: absolute;
  z-index: 99999;
}

#world-edit {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 256px;
  height: 100%;
  padding-left: 6px;
  border-left: 3px solid darkgray;
  background-color: white;
}

#world-edit span {
  display: block;
}

#world-edit > #world-edit-parameters {
  overflow-y: scroll;
}

#world {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}

#world .world-node {
  position: absolute;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  transform-origin: center;
  transform-style: preserve-3d;
}

#world .world-node[data-node-type="face"] {
  width: 100px;
  height: 100px;
  line-height: 100px;
  transform: translate3d(-50px, -50px, 0) rotateX(90deg);
  background: radial-gradient(darkgray, lightgray);
}

#world[data-editing] .world-node:hover[data-node-type="face"],
 #world[data-editing] .world-node:hover[data-node-type="sprite"] {
  animation: node-selection 0.3s ease-in-out infinite alternate;
}
